*
    box-sizing border-box

.fix
    &:after
        visibility hidden
        display block
        font-size 0
        content " "
        clear both
        height 0

.content
    font-family arial
    margin auto
    text-align center
    width 600px

.styles
    &.align-left
        text-align left

    &.align-right
        text-align right

    &.margin-bottom
        margin-bottom 10px

    &.margin-bottom-x2
        margin-bottom 20px

    &.view-none
        display none

.column-left
    float left
    margin-left -40px
    min-height 1px
    padding-right 10px
    text-align right
    width 50%

.column-right
    float left
    text-align left
    width 50%