*
    box-sizing border-box

.scenario
    margin auto
    text-align center
    width 600px

    .row
        float left
        height 200px
        width 600px

        .column
            border 1px solid
            cursor pointer
            display table-cell
            font-family arial
            font-size 40px
            height 200px
            vertical-align middle
            width 200px