.title.styles.margin-bottom Multi Tic Tac Toe
.login.styles.margin-bottom.fix
    .column-left
        span Login

    .column-right
        input

.pass.styles.margin-bottom.fix
    .column-left
        span Password

    .column-right
        input(type='password')

.btn.fix
    .column-left
    .column-right
        input(
            login
            type='button'
            value='Login'
        )

.message.styles.margin-top * Rellena los campos para entrar o registrarte.

.modal.styles.view-none
    .dialog
        .question Usuario nuevo, ¿desea registrarse?
        button.btn.confirm Confirmar
        button.btn.close Cerrar