.title.styles.margin-bottom User
.win.styles.margin-bottom.fix
    .column-left
        span Win

    .column-right
        span 0

.lose.styles.margin-bottom.fix
    .column-left
        span Lose

    .column-right
        span 0

.login.styles.margin-bottom-x2.fix
    .column-left
        span Image

    .column-right
        input

.styles.margin-bottom Challenge
.challenge.styles.margin-bottom-x2.fix
    .column-left
        input.styles.align-right

    .column-right
        input(
            play
            type='button'
            value='Play'
        )

.challenges-wainting.styles.margin-bottom Challenges Waiting

.btn.fix
    .column-left
    .column-right
        input(
            exit
            type='button'
            value='Exit'
        )