include views/_mixins/mixins
doctype html
html(lang='es')
    head
        meta(charset='utf-8')
        title Multi-Tic-Tac-Toe jQuery
        meta(
            content=''
            name='description'
        )
        //- link(
        //-     href='favicon.ico'
        //-     rel='shortcut icon'
        //- )
        link(
            href='styles/main.css'
            rel='stylesheet'
        )
    body
        .content
            .scenario.styles.view-none
                include views/includes/scenario/_main

            .start.styles
                include views/includes/start/_main

            .user.styles.view-none
                include views/includes/user/_main

        .load.styles.view-none
            .background
            .loader
                .loader-center
                    img(src='assets/ajax-loader.gif')

        +script-min-ini()

        +script-min('views/includes/scenario/main.js')
        +script-min('views/includes/start/main.js')
        +script-min('views/includes/user/main.js')

        +script-min-end()