include views/mixins/mixins
doctype html
html(lang='es')
    head
        meta(charset='utf-8')
        title Multi-Tic-Tac-Toe jQuery
        meta(
            content=''
            name='description'
        )
        //- link(
        //-     href='favicon.ico'
        //-     rel='shortcut icon'
        //- )
        link(
            href='styles/main.css'
            rel='stylesheet'
        )
    body
        .scenario
            .row
                .column
                .column
                .column

            .row
                .column
                .column
                .column

            .row
                .column
                .column
                .column

        +script-min-ini()

        +script-min('js/index.js')

        +script-min-end()