.user
    .name-user
        font-size 24px
        font-weight bold

    .win
        color #44BB44

    .lose
        color #BB4444

    .img-upload
        max-height 150px
        max-width 150px

    .challenge
        .column-right
            input
                display inline-block

            .challenge-user
                color #AA2222
                display inline-block
                font-size 12px