.title.styles.margin-bottom Multi Tic Tac Toe
.login.styles.margin-bottom.fix
    .column-left
        span Login

    .column-right
        input

.pass.styles.margin-bottom.fix
    .column-left
        span Password

    .column-right
        input

.btn.fix
    .column-left
    .column-right
        input(
            login
            type='button'
            value='Login'
        )